/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: Arial, 'Victor Mono', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--red-1);
}

code {
  font-family: 'Victor Mono', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

/* Optional: Add specific font-weight utilities if needed */
.font-normal {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}
.animation-delay-300 {
  animation-delay: 300ms;
}
